<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="theme/admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Inventory
                    <small>Transactions</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inventory Location Transfers  Details Ref: <span th:text="${inventoryAdjustment.iltReference}"></span></h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a th:href="@{/inventorylocationtransfers/print/{id}(id=${inventoryAdjustment.id})}" target="_blank" class="btn  btn-primary btn-xs">Print</a>
                                <!--                                <a th:href="@{/salesquotationentry/edit/{id}(id=${inventoryAdjustment.id})}" class="btn  btn-success btn-xs">Edit</a>
                                                                <a th:href="@{/salesquotationentry/delete/{id}(id=${inventoryAdjustment.id})}"  class="btn  btn-danger btn-xs">Delete</a>-->
                                <a type="button" th:href="@{/inventory/index}" class="btn  btn-warning btn-xs">Close</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <table class="table  table-bordered">
                            <tr>
                                <th> From Location </th>
                                <td th:text="${inventoryAdjustment.fromLocation.locationName}"></td>

                                <th> To Location </th>
                                <td th:text="${inventoryAdjustment.toLocation.locationName}"></td>
                                <th>Date</th>
                                <td th:text="${inventoryAdjustment.iltDate}"> </td>
                                <th>Reference </th>
                                <td th:text="${inventoryAdjustment.iltReference}"></td>
                                <th>Total </th>
                                <td><b th:text="${#aggregates.sum(inventoryAdjustment.inventoryLocationTransfersItem.![itemTotal])}" /> Taka</td>

                            </tr>
                            <tr>

                        </table>
                        <div class=" col-sm-12"> 
                            <h4 class="text-center"> Inventory Adjustment Items</h4>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Name</th>

                                        <th scope="col">Quantity</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Price</th>

                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${#lists.isEmpty(inventoryAdjustment.inventoryLocationTransfersItem)}" >           
                                        <th colspan="6"  class="text-center"> Sorry no item found.</th>

                                    </tr>
                                    <tr th:if="${not #lists.isEmpty(inventoryAdjustment.inventoryLocationTransfersItem)}" th:each=" lists,status :${inventoryAdjustment.inventoryLocationTransfersItem}">           
                                        <th><span th:text="${status.count}"></span></th>
                                        <td><span th:text="${lists.itemCode.itemCode}"></span></td>
                                        <td><span th:text="${lists.itemCode.name}"></span></td>
                                        <td><span th:text="${lists.quantity}"></span></td>
                                        <td><span th:text="${lists.unit}"></span></td>
                                        <td><span th:text="${lists.price}"></span></td>
                                        <td><span th:text="${lists.itemTotal}"></span></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Total Item</td>
                                        <td><b th:text="${#aggregates.sum(inventoryAdjustment.inventoryLocationTransfersItem.![quantity])}" /></td>
                                        <td></td>
                                        <td>Amount Total</td>
                                        <td><b th:text="${#aggregates.sum(inventoryAdjustment.inventoryLocationTransfersItem.![itemTotal])}" /> Taka</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="box-tools pull-right">
                                <div class="btn-group">
                                    <!--                                <button type="button" class="btn  btn-primary btn-xs">Add/Save</button>
                                                                    <button type="button" class="btn  btn-success btn-xs">Edit/Save</button>
                                                                    <button type="button" class="btn  btn-danger btn-xs">delete</button>
                                                                    <button type="button" class="btn  btn-warning btn-xs">Close</button>-->
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>