<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="theme/admin-layout">
    <div layout:fragment = "main_content">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Inventory  
                    <small>Transactions</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inventory Adjustments</h3>

                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a type="button"  th:href="@{/inventoryadjustments/close}" class="btn  btn-danger btn-xs"> <i class="fa fa-window-close"></i> Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">                     
                        <div th:if="${ not #strings.isEmpty(success_messages)}">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4>
                                    <i class="icon fa fa-check"></i> Alert!</h4>

                                <span  class="bg-green text-center"th:text="${success_messages}"></span>
                            </div>
                        </div>

                        <form  th:action="@{/inventoryadjustments/save}"   enctype="multipart/form-data" th:object="${inventoryAdjustments}"  method="post" class=""> 

                           

                            <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-ban"></i> Error </h4>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>
                            
                             <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-sm pull-right">Submit</button>
                            </div>

                            <div class="col-sm-12">
                                <input type="hidden" class="form-control input-sm" th:field="*{id}" placeholder="">
                                <input type="hidden" class="form-control input-sm" th:field="*{transType}" placeholder="">
                            </div> 

                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <td>Location:<span class="text-red"> * </span></td>

                                    <td>Reference:<span class="text-red">  </span></td>

                                    <td>Date:<span class="text-red"> * </span></td>

                                </tr>
                                <tr> 

                                    <td><div class="form-group ">
                                            <!--                                          <input id = "customers">                 
                                                                                      <input type="hidden" class="form-control input-sm" th:field="*{customers}" placeholder="">-->
                                            <select class="form-control input-sm"  id = "" th:field="*{inventoryLocations}">
                                                <!--                                                <option value="0">Select one</option>-->
                                                <option th:each=" inventoryLocationlists :${inventoryLocationlist}"
                                                        th:value=" ${inventoryLocationlists.id}"
                                                        th:text="${inventoryLocationlists.locationName}">
                                                    Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('inventoryLocations')}" th:errors="*{inventoryLocations}"> </span>

                                        </div> </td>

                                    <td><input type="text" size="5" class="form-control input-sm" th:field="*{inAdReference}" placeholder="">
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('inAdReference')}" th:errors="*{inAdReference}"> </span> </td>
                                    <td> 
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" size="5" class="form-control input-sm" th:field="*{adDate}" placeholder="">
                                        </div>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('adDate')}" th:errors="*{adDate}"> </span></td>
                                </tr>

<!--                                <tr>
                                    <td scope="row">Memo<span class="text-red">  </span>:</td>
                                    <td> 
                                        <textarea  class="form-control input-sm" th:field="*{memo}" placeholder="" value="0.00"></textarea>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}"> </span>
                                    </td>
                                    <td> </td>
                                </tr>-->

                            </table>                 

                        </form>




                        <div class=" col-sm-12"> 
                            <h4 class="text-center">  Adjustment Items</h4>
                            <div class="" th:if="${session.inventoryItemCartSession==null}" >
                                Your Product item is Currently Empty

                            </div>
                            <table  id="adj_itemTable" class="table"  th:if="${not #lists.isEmpty(session.inventoryItemCartSession)}">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Item Code/Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col"> Retail Price</th>
                                        <th scope="col">Item Total</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr th:each="itemList,status:${session.inventoryItemCartSession}">
                                        <td scope="row"><span id ="itemId" th:text="${itemList.id}"></span></td>

                                        <td><span id ="itemCode" th:text="${itemList.itemCode}"></span></td>

                                        <td><span id ="itemQuantity" th:text="${itemList.quantity}"></span></td>

                                        <td> <span id ="itemUnit" th:text="${itemList.unit}"></span></td>

                                        <td><span id ="itemPrice" th:text="${itemList.price}"></span></td>

                                        <td><span id ="itemItemTotal" th:text="${itemList.itemTotal}"></span></td>
                                        <td>
<!--                                            <button id="adj_itemEdit" class="btn btn-xs btn-warning">Update</button>-->
                                            <button  id="adj_itemDelete" class="btn btn-xs btn-danger">Delete</button>
                                        </td>
                                    </tr>
                            </table>

                            <form  enctype='application/json' id="disalesCartItem" name="inventoryCartItem" th:action="@{/inventorycartitem/save}" method="post">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col" style="width:20%">Item Code/Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col"> Retail Price</th>
                                            <th scope="col">Item Total</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" id="iadj_id" name="id"  size="10" value="" class="form-control input-sm"    placeholder=""  readonly></td>

                                            <td>
                                                <select class="form-control  input-sm inventory_adjust_item_select" name="itemCode">

                                                    <option th:each="itemLists :${itemList}"
                                                            th:value=" ${itemLists.itemCode}"
                                                            th:text="${itemLists.itemCode+' '+itemLists.name}">
                                                        Select one</option>
                                                </select>

                                                <input type="hidden" id="iadjdescription" name="itemDescription"  size="10" value="0" class="form-control input-sm"    placeholder="">
                                            </td>

                                            <td><input type="number" min="0" size="10" value="0.00" id="iadj_quantity" name="quantity"   class="form-control input-sm" ></td>

                                            <td><input type="text" id="iadj_unit" name="unit"  size="8" value="" class="form-control input-sm"  readonly></td>


                                            <td><input type="number" min="0" value="0" step=".01"  id="iadj_price" class="form-control input-sm" name="price" placeholder="" ></td>

                                            <td><input type="text" min="0" size="10"value="0" step=".01" id="iadju_itemTotal" class="form-control input-sm"  name="total" placeholder="" readonly></td>

                                            <td><a  id="inventory_adj_ItemSaveButton" class="btn btn-xs btn-success">Save Item</a></td>
                                        </tr>
<!--                                        <tr>
                                            <td colspan="7"></td>

                                            <td>Total</td>
                                            <td> 
                                                <input type="text"  size="12" step="any" min="0"class=""  placeholder="0.00" readonly>                                          
                                        </tr>-->
                                    </tbody>
                                </table>

                            </form>
                        </div>
                    </div> 
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div> 
    </div>

</div>