<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="theme/admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Inventory 
                    <small> Transactions</small>
                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Locations Transfers Details</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="box-body">      

                        <h3 class="bg-green text-center"th:text="${success_messages}"></h3>

                        <table class="table table-bordered">
                            
                            <tr>
                                <td  class="text-center">
                                    <a  th:href="@{/inventorylocationtransfers/index}"> Enter another location transfer</a>
                                </td>
                            </tr>

                            <tr>
                                <td  class="text-center">
                                    <a  th:href="@{/inventorylocationtransfers/details/{id}(id=${itId})}"> View This Location Transfers</a>
                                </td>
                            </tr>
                         
                            
                             <tr>
                                <td class="text-center"> <a  th:href="@{/}"> View the GL</a></td> 
                            </tr>
 
<!--                            <tr>
                                <td class="text-center"> <a  th:href="@{/salesorder/createorder}"> Work Order Entry</a></td> 
                            </tr>-->
<!--                             <tr>
                                <td class="text-center"> <a  th:href="@{/salesorder/createorder}">Back</a></td> 
                            </tr>-->
                        </table>

                        <div class="box-footer">

                        </div>

                    </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>