<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     layout:decorator="theme/admin-layout">

    <div layout:fragment="main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Sales <small>Settings </small>
                </h1>
                <!--                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Examples</a></li>
                    <li class="active">Blank page</li>
                </ol>-->
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Customer  Add</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <!--                                <button type="button" class="btn  btn-primary btn-xs">Add/Save</button>
                                <button type="button" class="btn  btn-success btn-xs">Edit/Save</button>
                                <button type="button" class="btn  btn-danger btn-xs">delete</button>-->
                                <a type="button" th:href="@{/customers/index}" class="btn  btn-warning btn-xs">Close</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <form th:action="@{/customers/save}"
                              enctype="multipart/form-data" th:object="${customers}"
                              method="post" class="">
                            <div class="alert alert-danger alert-dismissible"
                                 th:if="${#fields.hasErrors('*')}">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                <h4>
                                    <i class="icon fa fa-ban"></i> Error
                                </h4>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
                                        is incorrect</li>
                                </ul>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">

                                    <table class="table  table-bordered">
                                        <tr>
                                            <th colspan="2" class="text-center">Name and Address</th>

                                        </tr>
                                        <tr>
                                            <td>Customer Name<span class="text-red">
                                                    * </span>: </td>
                                            <td> 
                                                <input type="hidden" class=""
                                                       th:field="*{id}" required="true" placeholder="">
                                                <input type="text" class=""
                                                       th:field="*{customerName}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('customerName')}"
                                                       th:errors="*{customerName}"> </span>
                                            </td>
                                        </tr> 





                                        <tr>
                                            <td>Customer Short Name<span class="text-red">* </span>: </td>
                                            <td> 
                                                <input type="text" class=""
                                                       th:field="*{customerShortName}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('customerShortName')}"
                                                       th:errors="*{customerShortName}"> </span>
                                            </td>
                                        </tr>  
                                        
                                        
                                        
                                        <tr>
                                            <td>Contact Persons Name<span class="text-red">* </span>: </td>
                                            <td> 
                                                <input type="text" class=""
                                                       th:field="*{contactPersonsName}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('contactPersonsName')}"
                                                       th:errors="*{contactPersonsName}"> </span>
                                            </td>
                                        </tr>     
                                        
                                        

                                        <tr>
                                            <td> General Address<span class="text-red">* </span>: </td>
                                            <td> 
                                                <textarea  cols="20" rows="5"
                                                           th:field="*{address}" placeholder=""> </textarea>
                                                <span
                                                    class="help-block has-error text-red"
                                                    th:if="${#fields.hasErrors('address')}"
                                                    th:errors="*{address}"> </span>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>GST No<span class="text-red"> </span>: </td>
                                            <td> 
                                                <input type="text" class=""
                                                       th:field="*{gstNo}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('gstNo')}"
                                                       th:errors="*{gstNo}"> </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Sales Type/Price List<span class="text-red">* </span>: </td>
                                            <td> 
                                                <select class="" th:field="*{salesTypeOrPriceList}">
                                                    <option value=" ">Select one</option>
                                                    <option th:each=" salestypenames :${salestypename}"
                                                            th:value=" ${salestypenames}"
                                                            th:text="${salestypenames}">
                                                        Select one</option>
                                                </select> <span class="help-block has-error text-red"
                                                                th:if="${#fields.hasErrors('salesTypeOrPriceList')}"
                                                                th:errors="*{salesTypeOrPriceList}"> </span>
                                            </td>
                                        </tr>

                                    </table> 

                                    <table class="table  table-bordered">
                                        <tr>
                                            <th colspan="2" class="text-center">General Contact Data</th>

                                        </tr>
                                        <tr>
                                            <td>Phone Number<span class="text-red">
                                                    * </span>: </td>
                                            <td> 

                                                <input type="text" class=""
                                                       th:field="*{phone}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('phone')}"
                                                       th:errors="*{phone}"> </span>
                                            </td>
                                        </tr> 




                                        <tr>
                                            <td>Mobile Number<span class="text-red">
                                                    * </span>: </td>
                                            <td> 

                                                <input type="text" class=""
                                                       th:field="*{mobile}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('mobile')}"
                                                       th:errors="*{mobile}"> </span>
                                            </td>
                                        </tr> 




                                        <tr>
                                            <td>Email<span class="text-red">
                                                    * </span>: </td>
                                            <td> 

                                                <input type="text" class="" th:field="*{email}"
                                                       placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Sales Person<span class="text-red">
                                                     </span>: </td>
                                            <td> 

                                                <select class="" th:field="*{salesPerson}">
                                                    <option value=" ">Select one</option>
                                                    <option th:each=" salespersonslists :${salespersonslist}"
                                                            th:value=" ${salespersonslists.id}"
                                                            th:text="${salespersonslists.salesPersonName}">
                                                        Select one</option>
                                                </select> <span class="help-block has-error text-red"
                                                                th:if="${#fields.hasErrors('salesPerson')}"
                                                                th:errors="*{salesPerson}"> </span>
                                            </td>
                                        </tr> 


                                        <tr>
                                            <td>Bank Account Number<span class="text-red">
                                                </span>: </td>
                                            <td> 
                                                <input type="text" class=""
                                                       th:field="*{bankAccountNumber}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('bankAccountNumber')}"
                                                       th:errors="*{bankAccountNumber}"> </span>
                                            </td>
                                        </tr>
<tr>
                                            <td> Mailing Address<span class="text-red"> </span>: </td>
                                            <td> 
                                                <textarea  cols="20" rows="5"
                                                           th:field="*{mailingAddress}" placeholder=""> </textarea>
                                                <span
                                                    class="help-block has-error text-red"
                                                    th:if="${#fields.hasErrors('mailingAddress')}"
                                                    th:errors="*{mailingAddress}"> </span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td> Billing Address<span class="text-red"> </span>: </td>
                                            <td> 
                                                <textarea  cols="20" rows="5"
                                                           th:field="*{billingAddress}" placeholder=""> </textarea>
                                                <span
                                                    class="help-block has-error text-red"
                                                    th:if="${#fields.hasErrors('billingAddress')}"
                                                    th:errors="*{billingAddress}"> </span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td> Delivery Address<span class="text-red"></span>: </td>
                                            <td> 
                                                <textarea  cols="20" rows="5"
                                                           th:field="*{deliveryAddress}" placeholder=""> </textarea>
                                                <span
                                                    class="help-block has-error text-red"
                                                    th:if="${#fields.hasErrors('deliveryAddress')}"
                                                    th:errors="*{deliveryAddress}"> </span>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-6">                        
                                    <table class="table  table-bordered">
                                        <tr>
                                            <th colspan="2" class="text-center">Sales</th>

                                        </tr>
                                        <tr>
                                            <td>Discount Percent<span class="text-red">
                                                </span>: </td>
                                            <td> 

                                                <input type="text" class=""
                                                       th:field="*{discountPercent}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('discountPercent')}"
                                                       th:errors="*{discountPercent}"> </span>
                                            </td>
                                        </tr> 

                                        <tr>
                                            <td>Prompt Payment Discount Percent<span class="text-red">
                                                </span>: </td>
                                            <td> 

                                                <input type="text" class=""
                                                       th:field="*{promptPaymentDiscountPercent}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('promptPaymentDiscountPercent')}"
                                                       th:errors="*{promptPaymentDiscountPercent}"> </span>
                                            </td>
                                        </tr>  


                                        <tr>
                                            <td>Credit Limit<span class="text-red">
                                                </span>: </td>
                                            <td> 

                                                <input type="text" class=""
                                                       th:field="*{creditLimit}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('creditLimit')}"
                                                       th:errors="*{creditLimit}"> </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Payment Terms<span class="text-red">
                                                </span>: </td>
                                            <td> 
                                                <input type="text" class=""
                                                       th:field="*{paymentTerms}" placeholder=""> <span
                                                       class="help-block has-error text-red"
                                                       th:if="${#fields.hasErrors('paymentTerms')}"
                                                       th:errors="*{paymentTerms}"> </span>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Credit Status<span class="text-red">
                                                </span>: </td>
                                            <td> 

                                                <select class="" th:field="*{creditStatus}">
                                                    <option value=" ">Select one</option>
                                                    <option th:each=" creditstatuslists :${creditstatuslist}"
                                                            th:value=" ${creditstatuslists.id}" th:text="${creditstatuslists.description}">
                                                        Select one</option>
                                                </select> <span class="help-block has-error text-red"
                                                                th:if="${#fields.hasErrors('creditStatus')}"
                                                                th:errors="*{creditStatus}"> </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>General Notes<span class="text-red">
                                                </span>: </td>
                                            <td> 
                                                <textarea class="" th:field="*{generalNotes}">  </textarea>
                                                <span class="help-block has-error text-red"
                                                      th:if="${#fields.hasErrors('generalNotes')}"
                                                      th:errors="*{generalNotes}"> </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <table class="table  table-bordered">
                                        <tr>
                                            <th colspan="2" class="text-center">Branch</th>

                                        </tr>
                                        <tr>
                                            <td>Sales Area<span class="text-red">*
                                                </span>: </td>
                                            <td> 

                                                <select class="" th:field="*{salesArea}">
                                                    <option value=" ">Select one</option>
                                                    <option th:each=" salesareaslists :${salesareaslist}"
                                                            th:value=" ${salesareaslists.id}"
                                                            th:text="${salesareaslists.areaName}">Select one</option>
                                                </select> 

                                                <span class="help-block has-error text-red"
                                                      th:if="${#fields.hasErrors('salesArea')}"
                                                      th:errors="*{salesArea}"> </span>
                                            </td>
                                        </tr> 

                                        <tr>
                                            <td>Default Inventory Location<span class="text-red">
                                                </span>: </td>
                                            <td> 

                                                <select class="" th:field="*{defaultInventoryLocation}">
                                                    <option value=" ">Select one</option>
                                                    <option
                                                        th:each=" inventorylocationslists :${inventorylocationslist}"
                                                        th:value=" ${inventorylocationslists.id}"
                                                        th:text="${inventorylocationslists.locationName}">
                                                        Select one</option>
                                                </select> <span class="help-block has-error text-red"
                                                                th:if="${#fields.hasErrors('defaultInventoryLocation')}"
                                                                th:errors="*{defaultInventoryLocation}"> </span>
                                            </td>
                                        </tr> 


                                        <tr>
                                            <td>Tax Group<span class="text-red">
                                                </span>: </td>
                                            <td> 
                                                <select class="" th:field="*{taxGroup}">
                                                    <option value=" ">Select one</option>
                                                    <option th:each=" taxGroup :${taxgroupslist}"
                                                            th:value=" ${taxGroup.id}" th:text="${taxGroup.name}">
                                                        Select one</option>
                                                </select> <span class="help-block has-error text-red"
                                                                th:if="${#fields.hasErrors('taxGroup')}"
                                                                th:errors="*{taxGroup}"> </span>
                                            </td>
                                        </tr> 


<!--                                        <tr>
                                            <td>Sales Group<span class="text-red">
                                                </span>: </td>
                                            <td> 
                                                <select class="" th:field="*{salesGroup}">
                                                    <option value=" ">Select one</option>
                                                    <option th:each=" salesareasgroups :${salesareasgroup}"
                                                            th:value=" ${salesareasgroups}" th:text="${salesareasgroups}">
                                                        Select one</option>
                                                </select> <span class="help-block has-error text-red"
                                                                th:if="${#fields.hasErrors('salesGroup')}"
                                                                th:errors="*{salesGroup}"> </span>
                                            </td>
                                        </tr>-->

                                    </table>
                                </div>

                            </div>
      
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary  btn-sm col-sm-offset-5">Submit</button>
                                    </div>
                                </div>
                            </div> 
                        </form>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>