<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="theme/admin-layout-label-print">

    <div layout:fragment = "main_content">
        <a id="newproduct" th:href="@{/items/short_entry}" >New Product Entry</a>
        
        <div  style=" text-align:center;
              height:140px;
              width:180px;
              background: #fff;
              border: 1px solid #f4f4f4;
              padding: 5px 0px 0px 0px ;
              margin: 5px 0px;">

            <strong> <span  class="clearfix"style=" font-size: 16px;">Price:<span th:text="${retailSalesPricing}"></span>+VAT</span></strong>
            <!--            <span style=" font-family: 'Libre Barcode 128 Text', cursive;font-size: 48px; margin: 0px 0px 0px 0px; color: #000; line-height: 48px;" th:text="${item.itemCode}"></span><br>-->

            <span><input id="codetext" type="hidden" th:value="${item.itemCode}"></span>
            <svg id="barcode"></svg>
            <div  class="clearfix"style=" font-size: 14px; margin-top: 0px" th:text="${item.name}"></div>
            <div   class="clearfix"th:if="${discount>0}">
                <span style=" font-size: 14px;">Discount:</span> <span th:text="${discount}"></span>%
            </div>
        </div>
        
    </div>
</div>