<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="theme/admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Branch
                    <small>Transactions</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> POS Ref: <span th:text="${pos.posReference}"></span></h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                                <a th:href="@{/branchpos/print/{id}(id=${pos.invoiceno})}"  class="btn  btn-primary btn-xs">Print</a>

                                <a th:href="@{/branchpos/edit/{id}(id=${pos.invoiceno})}" class="btn  btn-success btn-xs">Edit</a>

                                <a th:href="@{/branchpos/delete/{id}(id=${pos.invoiceno})}"  class="btn  btn-danger btn-xs">Delete</a>

                                <a type="button" th:href="@{/branchpos/index}" class="btn  btn-warning btn-xs">Close</a>

                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <table class="table  table-bordered">
                            <tr>
                                <th>Mobile </th>
                                <td th:text="${pos.contactPhone}"></td>
                                <th>Refe:</th>
                                <td th:text="${pos.posReference}"></td>
                                <th>Date</th>
                                <td th:text="${pos.invoiceDate}"></td>
                                <th>Location</th>
                                <td th:text="${pos.fromStkLoc.locationName}"> </td>
                                <th>Received By</th>
                                <td> 
                                    <span th:if="${pos.bankAccounts != null}" th:text="${pos.bankAccounts.bankAccountName}"></span>
                                    <span th:if="${pos.bankAccounts == null}" th:text="'NULL'"></span>
                                </td>
                                <th>Bank Charge</th>
                                <td th:text="${pos.bankCharge}"> </td>
                            </tr>
                        </table>
                        <div class=" col-sm-12"> 
                            <h4 class="text-center"> POS Items</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Item Description</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Price after Tax</th>
                                        <th scope="col">Discount %</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="posItemList ,status:${pos.posItem}">           
                                        <th><span th:text="${status.count}"></span></th>
                                        <td><span th:text="${posItemList.itemId.itemCode}"></span></td>
                                        <td><span th:text="${posItemList.itemId.name}"></span></td>
                                        <td><span th:text="${posItemList.quantity}"></span></td>
                                        <td><span th:text="${posItemList.itemId.unitsofMeasure}"></span></td>
                                        <td><span th:text="${posItemList.unitPrice}"></span></td>
                                        <td><span th:text="${posItemList.discount_percent}"></span></td>
                                        <td><span th:text="${posItemList.itemTotal}"></span></td>
                                    </tr>

                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Sub-total</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Amount Total</td>
                                        <td> </td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>


                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="box-tools pull-right">
                                <div class="btn-group">
                                    <!--                                <button type="button" class="btn  btn-primary btn-xs">Add/Save</button>
                                                                    <button type="button" class="btn  btn-success btn-xs">Edit/Save</button>
                                                                    <button type="button" class="btn  btn-danger btn-xs">delete</button>
                                                                    <button type="button" class="btn  btn-warning btn-xs">Close</button>-->
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>