<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Liberty  Enterprise Resource Planning </title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        
        <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet"> 

        <!--        <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap" rel="stylesheet"> -->

          <link rel="stylesheet" type="text/css"   th:href="@{/css/label_print.css}"/>
          
    </head>
    <body onload="window.print();">
        <!-- Site wrapper -->

        <div  layout:fragment="main_content">

        </div>
        <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.3/dist/JsBarcode.all.min.js"></script>
        <script>
        var codeText = document.getElementById("codetext").value;
        JsBarcode("#barcode", codeText, {
            // format: "pharmacode",
            lineColor: "#000",
            width: 2,
            height: 30,
            displayValue: true
        });
        </script> 

    </body>
</html>
