<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="theme/admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    User Registration
                    <small></small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Title</h3>

                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <!--                                <button type="button" class="btn  btn-primary btn-xs">Add/Save</button>
                                                                <button type="button" class="btn  btn-success btn-xs">Edit/Save</button>
                                                                <button type="button" class="btn  btn-danger btn-xs">delete</button>
                                                                <button type="button" class="btn  btn-warning btn-xs">Close</button>-->
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <form  th:action="@{/users/save}"   th:object="${users}"  method="post" >

                            <div th:text="${message}"> </div>


                            <div class="form-group row">
                                <input type="hidden" class="form-control "  th:field="*{id}" />      
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label text-right">Name<span class="text-danger">*</span>:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control col-sm-3" th:required="required" id="colFormLabel" placeholder="Name" th:field="*{name}">
                                    <span  class="help-block text-danger col-sm-8" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">First Name Error</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label text-right">Mobile Number<span class="text-danger">*</span>:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control col-sm-3" th:required="required" id="colFormLabel" placeholder="Mobile" th:field="*{mobile}">
                                    <span  class="help-block text-danger col-sm-8" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">First Name Error</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label text-right">Email<span class="text-danger">*</span>:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control col-sm-3" th:required="required" id="colFormLabel" placeholder="Email" th:field="*{email}">
                                    <span  class="help-block text-danger col-sm-8" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First Name Error</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label text-right">Password<span class="text-danger">*</span>:</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control col-sm-3" th:if="${users.id==null}"  th:required="required" minlength=8 maxlength="100" th:field="*{password}"  />

                                    <input type="password" class="form-control col-sm-3" th:unless="${users.id==null}"   minlength=8 maxlength="100" th:field="*{password}"  />
                                    <span  class="help-block text-danger col-sm-8" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">First Name Error</span>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                    </small>

                                    <input type="hidden"  name="password2" th:value="${users.password}" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label text-right " for="inputState">Role<span class="text-danger">*</span>:</label>
                                <div class="col-sm-5">   <select id="inputState" class="form-control col-sm-5"  th:field="*{role}">

                                        <option th:each =" role: ${roles}"
                                                th:value="${role.id} " 
                                                th:text="${role.name}"> Select one</option>
                                    </select>
                                </div></div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label text-right " for="inputState">Status<span class="text-danger">*</span>:</label>
                                <div class="col-sm-5">   <select id="inputState" class="form-control col-sm-3"  th:field="*{status}">
                                        <option value=" "> Select one</option>          
                                        <option th:each =" status :${status}"
                                                th:value=" ${status}" 
                                                th:text="${status}"> Select one</option>
                                    </select></div>
                                <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">First Name Error</span>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label text-right">Remark<span class="text-danger"></span>:</label>
                                <div class="col-sm-5">
                                    <textarea class="form-control col-sm-7" rows="5"  cols="" id="colFormLabel" placeholder="Remark" th:field="*{remarks}"></textarea>
                                    <span  class="help-block text-danger col-sm-8" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">First Name Error</span>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>



                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <!--                                <button type="button" class="btn  btn-primary btn-xs">Add/Save</button>
                                                                <button type="button" class="btn  btn-success btn-xs">Edit/Save</button>
                                                                <button type="button" class="btn  btn-danger btn-xs">delete</button>
                                                                <button type="button" class="btn  btn-warning btn-xs">Close</button>-->
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div> 



    </div>

</div>